<style type="text/css">
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  .body {
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12px;
    color: #000000;
  }

  .content {
    padding: 20px;
  }

  .footer {
    color: rgb(70, 70, 70);
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  h1 {
    font-size: 14px;
    font-weight: bold;
  }

  td {
    padding-right: 20px;
  }

  a:link {
    color: #B40057;
    text-decoration: underline
  }

  a:visited {
    color: #542A95;
    text-decoration: none
  }

  a:hover {
    color: #B40057;
    background-color: #C4FFF9;
    text-decoration: underline
  }
</style>

<div class="body">
  <h1>WARNING</h1>
  <hr>
  <br>
  <div class="content">
    Disc space is running low:<br><br>
    <span class="bold">Database Storage</span><br>
    Total: {{ db_total }} GiB<br>
    Free: {{ db_free }} GiB<br>
    Path: {{ db_path }}<br><br>
    <span class="bold">Backup Storage</span><br>
    Total: {{ backup_total }} GiB<br>
    Free: {{ backup_free }} GiB<br>
    Path: {{ backup_path }}
  </div>
  <br>
  <hr>
  <br>
  <div class="footer">
    This mail has been sent automatically, please do not answer to it.
  </div>
</div>